.header {
    margin-top: .5rem;
    padding-left: 10px;
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: 10px 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
}

.header ul li:hover {
    transform: translateY(-2px);
}

.header a{
    transition: all ease-in-out 0.3s;
}

.header a:hover {
    text-decoration: none;
}

.header h3 a {
    color: white;
    transition: all ease-in-out 0.3s;
    margin-right: 10px;
}

.header h3 a:hover {
    color: #00bc8c;
}